body{background: DarkOrchid; color: Fuchsia; font-size: 20; font-family: 'Delius Unicase', cursive;}
h1{font-family: 'Bungee Inline', cursive;}
h2{font-family: 'Bungee Inline', cursive;}
h3{font-family: 'Bungee Inline', cursive;font-size: 20;}
h4{font-family: 'Bungee Inline', cursive;font-size: 20;}
h5{font-family: 'Bungee Inline', cursive;font-size: 20;}
